<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">News Scraper</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/saved">Saved Articles</a>
            </li>
            <li class="nav-item"><button class="btn btn-outline-success my-2 my-sm-0" onclick="scrapeNews()">Scrape News!</button></li>
        </ul>
    </div>
</nav>
<div class="imageContainer">
    <img src="" width="100%" height="250px">
    <div class="overlay"></div>
    <div class="centered">
        <h1>Mongo Scraper</h1>
        <h2>New York Times Edition</h2>
    </div>
</div>
<div class="container">
    
</div>
<script src="/js/index.js"></script>